

<head>
    <title>
        Map
    </title>
    <script src="~/js/jquery.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN6ouOIetcTEeu9NcrrWK5idnl_w7VEZQ&callback=initMap"></script>

</head>

    <div id="map" style=" height: 60%; width: 60%; position:absolute; overflow: hidden">
    </div>

    <script>

        function initMap() {
            var options = {
                zoom: 6,
                center: {lat: 39.92, lng: 32.86}
            }

            var map = new google.maps.Map(document.getElementById("map"), options);

            var marker = new google.maps.Marker({
                position: { lat: 41.01, lng: 28.97 },
                map: map
            });

            var info = new google.maps.InfoWindow({
                content: '<h3> Our Location </h3>'
            });

            marker.addEventListiner('click', function () {
                info.open(map, marker);
            })
        }
        
    </script>

